/* 
    > Time for CSS practice 2, just follow these specs
    > First, look at index.html to see what elements we are working with, then...

    > Create a selector for h1, then...
        ☑️ center the h1 text
*/
h1 {
    text-align: center;
}

/*
    > Create a selector for the "box" class and add the following CSS
        ☑️ center the text inside the boxes 
        ☑️ add a border, 2px solid black
        ☑️ top and bottom padding 20px, left and right 10px
        ☑️ 20px margin on all 4 sides
*/
.box-1 {
    text-align: center;
    border: 2px solid #000;
    padding: 20px 10px;
    margin: 20px;
    background-color: rgb(23, 96, 214);
    font-weight: 800;
}

.box-2 {
    text-align: center;
    border: 2px solid #000;
    padding: 20px 10px;
    margin: 20px;
    background-color: rgb(221, 26, 26);
    font-weight: 800;
}

.box-3 {
    text-align: center;
    border: 2px solid #000;
    padding: 20px 10px;
    margin: 20px;
    background-color: rgb(17, 155, 51);
    font-weight: 800;
}

.container {
    margin: 10vh;
}

/*
    > Now, create selectors for each individual box class (ex "box-1")
        ☑️ make box 1 a nice shade of blue
        ☑️ make box 2 a nice shade of red
        ☑️ make box 3 a nice shade of green
*/


/*
    > Add some margin on the "container" class
        ☑️ Try 10vw!
*/

/*
    > Finally, check the image "solution-css-2.png" in this directory to see if your solution matches
*/
